<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
    <br>
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
    
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>

  </form>