<div class="about">
    <div class="about-page">
        <div class="about-abouts">
            <h3 class="about-heading">
                About us
            </h3>
        </div>
        <div class="about-para">
            <h1 class="about-header">
                Revolutionising the way cloud and mobile applications are built
            </h1>
            <br>
            <p class="paragarph">    
                Tunerlabs is a technology company specialized in product engineering and managed services. Our offerings include technology consulting, design consulting, product development serveices and managed staffing. A small but constantly growing team of motivated minds taking care of the technology end to end, letting our clients focus on business. TunerLabs not only enable technology but also optimize and maintain the same. We work with startups as a technology partner helping them in their growth path.
            </p>
        </div>
    </div>
    <div class="about-img">
        <img src="/assets/images/img-34.png" alt="">
    </div>
</div>
<div class="rowDisplay">
    <div class="image1">
      <img src="/assets/images/img-36.png" alt="" srcset="">
    </div> 
    <div class="details">
      <div class="firstDiv">
        <h3>Working Globally With Startups to Enterprise Partners</h3>
      </div>
      <div class="secondDiv">
        <h1>Ease of working with us.</h1>
        <h4>We help you build the right product end to end.</h4>
      </div>
      <div class="thirdDiv">
        <ul>Dedicated account manager and single point of contact</ul>
        <ul>Highly experienced product development team</ul>
        <ul>Development on Agile methodology</ul>
        <ul>Option to retain the same team after development</ul>
      <div class="footDiv">
        <div>Working with Startups</div>
        <div>Our services</div>
      </div>
    </div>
</div>
