.about{
    /* width: 100%; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px;
}
.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
}
.about-aboutus{
    flex: 1;
}
.about-heading {
    color: #1292ee;
    text-align: left;
}
.about-para{
    flex: 5;
    text-align: left;
    border-radius: 10px;
    color: #abb8c3;
}
.about-header {
    color: black;
}
.paragraph {
    font-size: 60px;
    color: #abb8c3;
}
.about-img  {
    flex: 1;
}
.rowDisplay {
    /* width: 100%; */
    /* height: 500px; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
  }
  
  .image1 {
    flex: 1;
  }
  
  .details {
    /* width: 50%; */
    font-family: sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  .firstDiv {
    color: #1292ee;
    display: flex;
    justify-content: first baseline;
  }
  .thirdDiv {
    text-align: left;
  }
  .footDiv {
    /* width: 100%; */
    /* height: 75px; */
    background-color: #a4aeb8;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-around;
  }
  .footDiv div {
    background-color: #2ed47d;
    color: white;
    padding: 10px 50px;
    cursor: pointer;
  }
  
  .footDiv div:hover {
    background-color: black;
  }
  
  h1.rowDisplay {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 5pt;
  }
  