<div class="webApp">
    <div class="innerWebAppImage">
      <img src={{imagePath}} alt="">
    </div>
    <div class="innerWebApp">
      <h2 class="cardH2">{{title}}</h2>
      <p class="cardP">
        One Stop solution provider for building Robust Applications on cloud & on premise across multiple technologies <br>
        <a href="app.component.html">Learn more</a> 
      </p>
    </div>
  </div>