.rowDisplay {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image1 {
  flex: 1;
}

.details {
  /* width: 50%; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.firstDiv {
  color: #1292ee;
  display: flex;
  justify-content: first baseline;
}
.footDiv {
  width: 100%;
  /* height: 75px; */
  background-color: #a4aeb8;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.footDiv div {
  background-color: #2ed47d;
  color: white;
  padding: 10px 50px;
  margin: 10px 50px;
  cursor: pointer;
}

.footDiv div:hover {
  background-color: black;
}

h1.rowDisplay {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5pt;
}

/* Next Section */







.mainDiv {
    
    width: 100%;
    height: 600px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    background-color: white;
    
}
.header {
    width: 100%;
    height: 50px;
}
.title {
  color: white;
  text-align: center;
}
.container {
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}
.webApp {
    background-color: #fafbfc;
    border-radius: 10px;
    flex: 1;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.innerWebApp {
  margin-top: 80px;
  flex: 3;
  align-items: center;
  padding: 20px 50px 50px 50px;
  font-size: 15px;
}
.innerWebAppImage {
    flex: 1;
    padding: 30px 60px;
    align-items: center;
}
.cardH2{
  text-align: center;
  padding-bottom: 20px;
}
.cardP {
  text-align: center;
  font-style: italic;
  color: #748494;
}
