<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <div class="mainDiv">
    <div class="header">
      <h1 class="title">Service Offerings</h1>
    </div>
    <div class="container">
     <app-service-section title="Web Applications" imagePath="/assets/images/icon4@2x.png"></app-service-section>
     <app-service-section title="Mobile Applications" imagePath="/assets/images/icon4@2x.png"></app-service-section>
     <app-service-section title="UX Design" imagePath="/assets/images/icon6@2x.png"></app-service-section>
     
    </div>
  </div>