  /* Next Section */
  
  
  
  
  
  
  
  .mainDiv {
      /* border: 2px solid; */
      width: 100%;
      height: 600px;
      /* display: flex;
      flex-direction: row;
      justify-content: space-around; */
      background-color: white;
      
  }
  .header {
      width: 100%;
      height: 50px;
  }
  .title {
    color: rgb(169, 176, 236);
    text-align: center;
  }
  .container {
      height: 550px;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 20px;
  }
  .webApp {
      background-color: #fafbfc;
      border-radius: 10px;
      flex: 1;
      margin-top: 30px;
      margin-right: 30px;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  }
  .innerWebApp {
    margin-top: 80px;
    flex: 3;
    align-items: center;
    padding: 20px 50px 50px 50px;
    font-size: 15px;
  }
  .innerWebAppImage {
      flex: 1;
      padding: 30px 60px;
      align-items: center;
  }
  .cardH2{
    text-align: center;
    padding-bottom: 20px;
  }
  .cardP {
    text-align: center;
    font-style: italic;
    color: #748494;
  }
  